<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <ConnectionStrings>
        <add name="API_KEY" connectionString="9655dc94-8557-43e7-9927-6606c68beb30"></add>
    </ConnectionStrings>
</configuration>